<html>
  {% include "header.html" %}
  <body>
	<div id="container">
	  <div id="header">
		<h1><a href="/">GYMMEMO</a></h1>
	  </div>
	  <div id="content">
		<form action="/add_item" method="post">
		  トレーニング種目<input type="text" name="name" value="" size="30" /><br />
		  単位
		  <select name="unit">
			{% for u in disps.unit %}
			<option value="{{ u }}">{{ u }}</option>
			{% endfor %}
		  </select><br />
		  <input type="submit" value="追加する" />
		</form>
	  </div>
	</div>
	{% include "footer.html" %}
  </body>
</html>
