<!DOCTYPE HTML>
<html manifest="cache-manifest">
  {% include "header.html" %}
  <body>
	<div id="container">
	  <div id="header">
		<h1><a href="/">GYMMEMO</a></h1>
	  </div>
	  <div id="content">
		<h2 id="itemstitle">トレーニング種目 +</h2>
		<div id="items">
		  <form id="itemadd" style="display:none;">
			<input type="text" id="itemname" name="itemname" value="種目名" />
			<select name="itemattr" id="itemattr">
			  <option value="" />
			  <option value="回" />回
			  <option value="分" />分
			  <option value="kg" />kg
			</select>
			<button>登録</button>
		  </form>
		  <ul id="itemlist">
		  </ul>
		</div>
		<h2 id="recordstitle">今日のトレーニング記録</h2>
		<div id="records">
		  <ul id="recordlist">
		  </ul>
		</div>
	  </div>
	  <div id="debug">
		.<p id="clear" style="display:none;">テーブルをDROPする</p>
	  </div>
	</div>
<!-- 	{% include "footer.html" %} -->
  </body>
</html>
