<html>
  {% include "header.html" %}
  <body onload="update()">
	<div id="container">
	  <div id="header">
		<h1><a href="/">GYMMEMO</a></h1>
	  </div>
	  <div id="content">
        <input id="name" type="text" value="name" size="20"/>
        <input id="unit" type="text" value="unit" size="4"/>
        <input type="submit" value="登録"
         onclick="javascript:insertItem(document.getElementById('name').value, document.getElementById('unit').value);"/>
        <input type="submit" value="クリア"
         onclick="javascript:if (confirm('クリアします')) { clearItems(); }"/>
        <div id="render"></div>
        <div id="debug"></div>
	  </div>
	</div>
	{% include "footer.html" %}
  </body>
</html>
