<html>
  {% include "header.html" %}
  <body>
	<div id="container">
	  <div id="header">
		<h1><a href="/">GYMMEMO</a></h1>
	  </div>
	  <div id="content">
		<p class="itemmenu">+</p>
		<p class="itemmenu" style="display:none">-</p>
		<div id="item" style="display:none">
        <input id="itemname" type="text" value="" size="20"/>
		<select id="itemunit">
		  <option value="" />
		  <option value="回" />回
		  <option value="分" />分
		  <option value="kg" />kg
		</select>
        <input id="itemadd" type="submit" value="登録">
        <input type="submit" value="クリア"
			   onclick="javascript:if (confirm('クリアします')) { clearItems(); }"/>
		</div>
        <div id="render"></div>
        <div id="record"></div>
        <div id="debug"></div>
	  </div>
	</div>
	{% include "footer.html" %}
  </body>
</html>
